Flask==3.1.2
Flask-Cors==6.0.1
Flask-Limiter==4.0.0
Flask-Session==0.8.0
Flask-WTF==1.2.2
gunicorn==23.0.0
matplotlib==3.10.1
numpy==2.3.5
pandas==2.3.3
pillow==12.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-magic==0.4.27
rich==13.7.1
seaborn==0.13.2
openpyxl==3.1.5
squarify==0.4.4
urllib3>=2.5.0
requests>=2.31.0