Flask==3.1.1
Flask-Cors==5.0.1
Flask-Limiter==3.10.1
Flask-Session==0.8.0
Flask-WTF==1.2.2
gunicorn==23.0.0
matplotlib==3.10.1
numpy==2.2.3
pandas==2.2.3
pillow==11.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-magic==0.4.27
rich==13.7.0
seaborn==0.13.2
openpyxl==3.1.5
squarify==0.4.4
