{% extends 'base.html' %}

{% block title %}Instagram Dashboard{% endblock %}

{% block content %}
    <div class="platform-header text-center mb-4">
        <img src="https://img.icons8.com/color/96/000000/instagram-new.png" alt="Instagram Logo" class="platform-logo">
        <h1 class="platform-title">Instagram Dashboard</h1>
    </div>

    <div class="container mt-5">

        <!-- Upload Form -->
        <div class="upload-container mt-3">
            <div class="card-body">
                <p class="text-center mb-2">
                    Please upload your downloaded Instagram data in <strong>JSON format</strong>. We currently support the following files:
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">liked_posts.json</li>
                        <li class="list-group-item">saved_posts.json</li>
                        <li class="list-group-item">videos_watched.json</li>
                        <li class="list-group-item">posts_viewed.json</li>
                    </ul>                </p>
                <div class="loader-overlay d-none"></div>
                <div class="loader d-none"></div>
                
                <form id="uploadForm" action="{{ url_for('routes.dashboard_instagram') }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="file" name="file" id="fileInput" accept=".json" multiple required class="form-control mb-2">
                    <button type="submit" id="uploadButton" class="btn btn-primary btn-sm">Upload Data</button>
                </form>                       
            </div>
        </div>

        </div>

        <!-- CSV Data Preview Section -->
        {% if csv_preview_html %}
        <div class="card mt-3">
            <div class="card-body">
                <h2>CSV Data Preview</h2>
                {{ csv_preview_html | safe }}
            </div>
        </div>
        {% else %}
        {% endif %}

        <!-- Uploaded Data Table Section (conditionally displayed) -->
        {% if data %}
        <button onclick="toggleTable()" class="btn btn-primary">Toggle Table</button>

        <div class="card mt-3" id="dataTable" style="display: none;">
            <div class="card-body">
                <div class="table-responsive" style="max-height: 400px; overflow: auto;">
                    <table class="table table-bordered table-hover table-striped table-sm">
                        <tbody>
                            {{ data | safe }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}        

        <!-- CSV Download Section -->
        {% if csv_file_name %}
        <div class="card mt-3">
            <div class="card-body text-center">
                <p class="mb-2">
                    You can download your processed Instagram data in <strong>CSV format</strong>.
                </p>

                <!-- Centering the button -->
                <div class="d-flex justify-content-center">
                    <a href="{{ url_for('routes.download_csv', filename=csv_file_name) }}" class="btn btn-success btn-sm">
                        Download CSV
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Visualization Section: Top Categories Per Year -->
        {% if plot_data %}
        <div class="card mt-3" id="visualization">
            <div class="card-body text-center">
                <h2>Top Authors</h2>
                <div class="d-flex justify-content-center">
                    <img src="{{ url_for('routes.download_image', filename=plot_data) }}" alt="Top Categories Per Year" class="img-fluid" style="max-width: 90%; height: auto;" />
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Day of Week Heatmap Section -->
        {% if day_heatmap_data %}
        <div class="card mt-3" id="day-heatmap">
            <div class="card-body text-center">
                <h2>Engagement Per Day of the Week</h2>
                <div class="d-flex justify-content-center">
                    <img src="{{ url_for('routes.download_image', filename=day_heatmap_data) }}" alt="Day of Week Heatmap" class="img-fluid" style="max-width: 90%; height: auto;" />
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Month Heatmap Section -->
        {% if month_heatmap_data %}
        <div class="card mt-3" id="month-heatmap">
            <div class="card-body text-center">
                <h2>Engagement by Month and Year</h2>
                <div class="d-flex justify-content-center">
                    <img src="{{ url_for('routes.download_image', filename=month_heatmap_data) }}" alt="Month Heatmap" class="img-fluid" style="max-width: 90%; height: auto;" />
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Time of Day Heatmap Section -->
        {% if time_heatmap_data %}
        <div class="card mt-3" id="time-heatmap">
            <div class="card-body text-center">
                <h2>Engagement by Time of Day</h2>
                <div class="d-flex justify-content-center">
                    <img src="{{ url_for('routes.download_image', filename=time_heatmap_data) }}" alt="Time of Day Heatmap" class="img-fluid" style="max-width: 90%; height: auto;" />
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Link to external JS -->
    <script src="{{ url_for('static', filename='js/instagram_dashboard.js') }}" 
        integrity="sha384-e7xUO0Swl8qSD7MJYJxeZ8zFGB0WF1KTCt7cNQoaeIVrqQoh/yn4vna3sqEcD5M+" 
        crossorigin="anonymous" 
        defer></script>
{% endblock %}