{% extends 'base.html' %}

{% block title %}Platform Selection{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="center">Select a Platform</h2>
        <p class="center" style="margin-bottom: 30px;">
            Select the platform from which you want to visualize and convert your data. Once you've made a selection, 
            a link to the data request page will appear. The application will process your Data Download Package (DDP), 
            transforming it into a more user-friendly format. Please note that this application expects your data to be downloaded as JSON.
            For more information on how to request your data, 
            please click <a href="https://docs.google.com/document/d/1EQH0vSKQAIReHbdhfv-6OmnA3Oeh-qnvZg9CDvWhOA4/edit?tab=t.0" target="_blank">here</a>.
        </p>        
        <form id="platformForm" class="center">
            <div class="platform-options">
                <label id="youtubeLabel">
                    <input type="radio" name="platform" value="youtube" class="platform-radio" onclick="showDescription('youtube')">
                    <i class="fab fa-youtube platform-icon"></i> YouTube
                </label>
                <label id="instagramLabel">
                    <input type="radio" name="platform" value="instagram" class="platform-radio" onclick="showDescription('instagram')">
                    <i class="fab fa-instagram platform-icon"></i> Instagram
                </label>
                <label id="tiktokLabel">
                    <input type="radio" name="platform" value="tiktok" class="platform-radio" onclick="showDescription('tiktok')">
                    <i class="fab fa-tiktok platform-icon"></i> TikTok
                </label>
            </div>
            <div class="center">
                <input type="button" value="Continue" onclick="goToDashboard()" class="button-link">
            </div>
            <p id="platformDescription" class="description"></p>
        </form>
    </div>

    <script>
        function goToDashboard() {
            const platform = document.querySelector('input[name="platform"]:checked');
            if (platform) {
                window.location.href = "/dashboard/" + platform.value;  // Redirects to /dashboard/youtube or /dashboard/instagram
            } else {
                alert("Please select a platform before proceeding.");
            }       
        }

        function showDescription(platform) {
            const descriptions = {
                youtube: "More information on how to request your YouTube data can be found <a href='https://support.google.com/youtube/answer/9315727?hl=en' target='_blank'>here</a>.",
                instagram: "More information on how to request your Instagram data can be found <a href='https://help.instagram.com/181231772500920?helpref=faq_content' target='_blank'>here</a>.",
                tiktok: "More information on how to request your TikTok data can be found <a href='https://support.tiktok.com/en/account-and-privacy/personalized-ads-and-data/requesting-your-data' target='_blank'>here</a>."
            };
            const platformDescription = document.getElementById("platformDescription");
            platformDescription.innerHTML = descriptions[platform]; // Use innerHTML to render HTML content
            platformDescription.style.display = "block"; // Show the description

            // Reset styles
            document.getElementById("youtubeLabel").classList.remove("selected");
            document.getElementById("instagramLabel").classList.remove("selected");
            document.getElementById("tiktokLabel").classList.remove("selected");

            // Highlight selected platform
            document.getElementById(platform + "Label").classList.add("selected");
        }
    </script>
{% endblock %}